body{
    margin: 0;
    font-family: 'Noto Serif JP', serif;
     background: linear-gradient(to bottom,#3f2b96,#a8c0ff);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

header h1 {
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  font-size: 25px;
  color: #ffffff;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  font-weight: bold;
}


.form-container {
  background-color: #ffffff;
  width: 480px;
  margin: 30px auto;
  padding: 20px 24px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  color: #4d436b;
  font-size: 20px;
}

.label{
  color: #220901;
  font-size: 20px;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  color: #d36d4f;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.upload-wrapper {
  display: flex;
  align-items: center;
}

.custom-upload-btn {
  background-color: #f48c57;
  color: white;
  padding: 0.4rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.custom-upload-btn:hover {
  background-color: #e4783f;
}

#fileName {
  margin-left: 1rem;
  font-size: 14px;
  color: #666;
}

.btn {
  text-align: center;
  margin-top: 30px; 
}
.submit-btn,
.back-btn,
.delete-btn {
  transition: all 0.2s ease-in-out;
}


.submit-btn {
  background-color: #f48c57;
  color: white;
  width: 120px;
  height: 40px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #e4773d;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
  
}

.back-btn {
  background-color: #7bc08c;
  color: white;
  width: 120px;
  height: 40px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.back-btn:hover {
  background-color: #65a576;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
}



.delete-btn{
  background-color: #d9534f;
  color: white;
  width: 120px;
  height: 40px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #c9302c;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
}


