<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
   <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="home.css">

</head>
<body>

  <div class="wrapper">
    <header>
      <h1 th:text="'ようこそ、' + ${accountName} + ' さん！'">ようこそ、アンガさん！</h1>
      <nav>
        <a href="/Home/home.html">Home</a>
        <a href="/Blog-Register/blog-register.html">Blog Register</a>
        <a href="/Login/login.html">Logout</a>
      </nav>
    </header>


    <main>
      <h2>Blog List</h2>
      <hr>
      <div class="list">
        <div class="card" th:each="">
          <a th:href="">
            <img th:src="" alt="">
          </a>
          <h3 th:text="${blog.blogTitle}">商品タイトル</h3>
          <p th:text="${blog.categoryName}">カテゴリ名</p>
          <p th:text="${blog.date}">2025-05-13</p>
        </div>
      </div>
    </main>

    <footer>
      <p>Copyright © 2025 Learner All Rights Reserved.</p>
    </footer>
  </div>
</body>
</html>
