<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Blog Register</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/earlyaccess/hachimaru.css" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/blog-register.css}" />
</head>

<body>
	<div class="wrapper">
		<header>
			<h1 th:text="'ようこそ、' + ${accountName} + ' さん！'"></h1>
			<nav>
				<a th:href="@{/home}">Home</a>
				<a th:href="@{/blog/register}">Blog Register</a>
				<a th:href="@{/logout}">Logout</a>
			</nav>
		</header>
		<main class="form-container">
			<h2>新規投稿</h2>
			<form th:action="@{/blog/register/process}" method="post" enctype="multipart/form-data">
				<div class="label">
					<label for="blogTitle">タイトル</label>
					<input type="text" id="blogTitle" name="blogTitle" required />
					<label for="categoryName">カテゴリ</label>
					<input type="text" id="categoryName" name="categoryName" />
				</div>
				<div class="upload-wrapper">
					<img id="registerPreview" class="preview"style="display:none; max-width: 100%; margin-bottom: 8px;"alt="プレビュー画像" />
					<label for="imageUpload" class="custom-upload-btn">画像を選択</label>
					<input type="file" id="imageUpload" name="blogImage" accept="image/*" style="display:none" />
					<span id="fileName">ファイルが選択されていません</span>
				</div>
				<label for="article">詳細</label>
				<textarea id="article" name="article" rows="5" required></textarea>
				<div class="btn">
					<button type="submit" class="submit-btn">登録</button>
					<a th:href="@{/home}" class="back-btn">戻る</a>
				</div>
			</form>
		</main>
	</div>
	<script>
		const fileInput = document.getElementById('imageUpload');
		const fileName = document.getElementById('fileName');
		const preview   = document.getElementById('registerPreview');
		fileInput.addEventListener('change', () => {
			fileName.textContent = fileInput.files[0]?.name || 'ファイルが選択されていません';
			if (file) {
			        preview.src = URL.createObjectURL(file);
			        preview.style.display = 'block';
			      } else {
			        preview.style.display = 'none';
					}
		});
	</script>
</body>

</html>